/* Switches */

$switch_width: 3.3em;
$switch_handle_size: 1.5em;
$switch_icon_padding: 0.35em;

.toggle-switch {
  width: $switch_width;
  border-radius: 99px;
  transition-duration: 100ms;

  @if $is_highcontrast {
    background: transparentize(if($variant == 'light', black, white), .7);
    color: white;
  } @else {
    background: transparentize(if($variant == 'light', black, white), .85);
    color: transparent;
  }

  .switch-icon {
    icon-size: $base_icon_size;
    padding: 0 $switch_icon_padding;
  }

  .handle {
    margin: 2px;
    width: $switch_handle_size;
    height: $switch_handle_size;
    border-radius: 99px;
    background: if($variant == 'light', white, mix(white, $bg_color, 80%));
    box-shadow: 0 2px 4px transparentize(black, .8);
    transition-duration: 100ms;
  }

  &:checked {
    background: $selected_bg_color;

    @if $is_highcontrast {
      color: $selected_fg_color;
    }

    .handle {
      background: white;
    }
  }
}
